*{
    font-family: "Microsoft YaHei UI", serif;
}

.small-hint-text {
    font-size: 0.7em;
}

.no-baseline-href {
    text-decoration: none;
    color: black;
}
.no-baseline-href:hover{
    color: #0099CC;
}
.confirm-btn {
    width: 5em;
    background: #0099CC;
    border: 0;
    color: white;
    padding: 8px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}
.cancel-btn {
    width: 5em;
    background: #FF0033;
    border: 0;
    color: white;
    padding: 8px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}
.edit-news-page {
    width: 60%;
    margin-top: 3%;
}
.news-category {
    vertical-align: top;
    height: 10em;
    font-size: 1em;
    color: black;
}
.edit-news-input-style {
    margin: 0.5em 0 1.5em;
    border: black;
    height: 2em;
    width: 200px;
}
.edit-news-content {
    border: none;
    margin-left: 3em;
    width: 50em;
    height: 35em;
    border-radius: 0.5em;
    padding: 0.5em;
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.login-box {
    width: 100%;
    height: 100%;
}

.login-form {
    position: absolute;
    top: 10%;
    left: 50%;
    color: #0099CC;
    text-align: center;
    background-color: white;
}

.login-form h1 {
    margin-top: 0;
    font-weight: bold;
}

.circular-input-style {
    display: block;
    box-sizing: border-box;
    width: 240px;
    background: white;
    border: 1px solid #0099CC;
    padding: 10px 20px;
    color: #666666;
    outline: none;
    margin: 5px 0;
    border-radius: 20px;
    text-align: center;
}
.hide-login-btn {
    color: black;
    position: absolute;
    right:40px;
    cursor: pointer;
    font-size: 24px;
}

.add-news-button {
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin: 10px 5px;
    background-color: #0099CC;
    color: white;
    cursor: pointer;
}

.edit-news-button {
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin: 10px 5px;
    background-color: #009999;
    color: white;
    cursor: pointer;
}

.del-news-button {
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin: 10px 5px;
    background-color: #FF0033;
    color: white;
    cursor: pointer;
}

.add-author-button {
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin: 10px 5px;
    background-color: #0099CC;
    color: white;
    cursor: pointer;
}

.edit-author-button {
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin: 10px 5px;
    background-color: #009999;
    color: white;
    cursor: pointer;
}

.del-author-button {
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    margin: 10px 5px;
    background-color: #FF0033;
    color: white;
    cursor: pointer;
}

.quit-button {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 8%;
    right: 5%;
    border-radius: 50%;
    background-color: #FF0033;
    color: white;
    border: none;
    cursor: pointer;
}

.table-news {
    border: 0;
    width: 70%;
    background-color: transparent;
    padding: 5px 10px;
    margin: 30px 10px 70px;
}
.table-news-header {
    height: 35px;
    font-weight: bold;
    background-color: #0099CC;
    color: white;
}

.table-author {
    border: 0;
    width: 70%;
    background-color: transparent;
    padding: 5px 10px;
    margin: 30px 10px 50px;
}
.table-author-header {
    height: 35px;
    font-weight: bold;
    background-color: #666666;
    color: white;
}

.table-row {
    height: 35px;
}
 #index-menu {
     margin: 0%;
     padding: 0;
     background: #3aafa9;
 }

#index-menu li {
    list-style: none;
    display: inline-block;
    background: #3aafa9;
}

#index-menu li a {
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding: 14px 20px;
"
}

#index-menu li a:before {
    content: '';
    width: 25px;
    position: absolute;
    border-bottom: 6px solid #2a7b78;
    bottom: 0px;
    right: 150px;
    transition: 0.7s all;
}

#index-menu li a:hover:before {
    right: 27%;
}

.index-search-box {
    position: absolute;
    top: 23%;
    left: 80%;
    transform: translate(-50, -50);
    background: #ffffff;
    height: 2em;
    border-radius: 2em;
    padding: 10px;

}

.index-search-box:hover > .index-search-txt {
    width: 11em;
    padding: 0 1.2em;
}

.index-search-box:hover > .index-search-btn {
    background: white;
}

.index-search-btn {
    color: black;
    float: left;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.index-search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 1em;
    transition: 0.4s;
    line-height: 1em;
    width: 0px;
}

.index-login-page:hover {
    color: black;
    border: 2px solid;
}

.index-login-page {
    position: absolute;
    top: 10%;
    right: 0;
    transform: translate(-50%, -50%);
    padding: 1px;
    cursor: pointer;
    font-size: 0.8em;
    color: #FFFFFF;
}
.index-news-form {
    width: 60%;
}


#index-news-page td {
    height: 3em;
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: sans-serif;
    overflow: hidden;
    transition: 0.7s all;
}

.index-sm-location {
    top: 20%;
}

.view-search-box {
    position: absolute;
    top: 1.2%;
    left: 5%;
    transform: translate(-50, -50);
    background: #3aafa9;
    height: 30px;
    border-radius: 30px;
    padding: 5px;

}

.view-search-box:hover > .view-search-txt {
    width: 190px;
    padding: 0 25px;
}

.view-search-box:hover > .view-search-btn {
    background: #3aafa9;
}

.view-search-btn {
    color: white;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3aafa9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.view-search-txt {
    border: none;
    background: white;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 15px;
    width: 0;
}

.view-news-top {
    margin-top: 5%;
}

.view-news-content {
    background: whitesmoke;
    margin-top: 3%;
    line-height: 2.2;
    margin-bottom: 2em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 1em;
    width: 60%;
    border: none;
    height: 100%;
}
.view-news-info {
    margin-top: 3%;
}
* {
    margin: 0;
    padding: 0;
}



.view-navbar {
    width: 100%;
    height: 50px;
    background: #3aafa9;
    box-shadow: 0 -2px 2px #0099CC;
}

.view-navbar ul {
    list-style: none;
}

.view-navbar ul li {
    float: right;
    width: 150px;
    height: 50px;
    background: #3aafa9;
    margin-right: 1px;
    font-size: 14px;
}

.view-navbar ul li:hover {
    color: #2a7b78;
    background: #2a7b78;
}

.view-navbar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.view-navbar ul li ul li {
    display: none;
    width: 220px;
    height: 50px;
    float: initial;
    background: #666;
    font-size: 10px;
}

.view-navbar ul li:hover ul li {
    display: block;
    border-top: 1px solid rgba(0, 119, 100, 0.5);
}